/* styles.css */

/* Add custom global styles if needed */
body {
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(120deg, #3498db, #8e44ad);
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Style the login form */
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* Style the input fields */
  input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.8rem;
  }
  
  .bottom-text {
    margin-top: 0px;
    text-align: center;
    font-size: 14px;
  
  }

  .bottom-text a {
    color: blue; /* Set the color of links to blue */
    text-decoration: none; /* Optional: removes the underline from links */
}

.bottom-text a:hover {
    text-decoration: underline; /* Optional: adds underline on hover */
}


  /* Style the buttons */
  button {
    margin-top: 1rem;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Style the error message */
  p.error {
    color: red;
    margin-top: 0.5rem;
  }
  
  /* Additional custom styles can be added as needed */
  