.modal-wrapper {
    width: 500px;
    height: 600px;
}

.modal {
    background: white;
    height:100%;
    width:100%;
    border-radius: 15px;
    padding: 15px;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-body {
    padding-top: 10px;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
}

select, textarea {
    width: 100%;
    padding: 5px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical; /* Allows vertical resizing */
}

  
  @keyframes popup {
    from {
      opacity: 0;
    }
    to { 
      opacity: 1;
    }
  }